@model QLPreschool.ModelViews.ModalDataMV
<!-- Modal -->
<div class="modal fade" id="@Model.idModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@Model.titleModal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Model.descriptionModal
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <a asp-action="@Model.action" asp-controller="@Model.controller" asp-area="@Model.area" asp-route-id="@Model.param"
                class="btn btn-primary">Xác nhận</a>
            </div>
        </div>
    </div>
</div>