@model QLPreschool.Data.Lop
@using QLPreschool.ModelViews
@{
    ViewData["Title"] = "Chi tiết lớp";
}
@section Style {
    <style>
        .imgTreEm {
            border-radius: 50%;
            object-fit: cover;
            width: 40px;
            height: 40px;
        } 
    </style>
}
@{
    var chitietLop = (QLPreschool.ModelViews.ChiTietLopMV)ViewBag.chitietLop;
    var modalData = new QLPreschool.ModelViews.ModalDataMV()
            {
                idModal = "XoaLopHoc",
                titleModal = "Xác nhận xóa lớp học",
                descriptionModal = "Vui lòng xác nhận xóa lớp học này",
                action = "DeleteClass",
                controller = "QLLop",
                area = "GiaoVien",
                param = chitietLop.MaLop

            };
}
<partial name="_Modal" model="@modalData"/>
<partial name="_StatusMessage"/>
<div class="container-fluid pt-4 px-4">
    <div class="row">
        <div class="col-8">
            <h2>@chitietLop.TenLop</h2>
            <h6>Sỉ số: @chitietLop.SiSo</h6>
            <div class="d-flex gap-4 align-items-center">
                <div>Học kỳ: @chitietLop.hocKy - Năm học: @chitietLop.NamHoc</div>
                
            </div>
            <div>Giáo viên phụ trách: @chitietLop.GiaoVienPT</div>
            @if(chitietLop.NamHoc >= DateTime.Now.Year)
            {
                <div>
                    <a asp-action="DoiGVPhuTrach" asp-controller="QLLop" asp-area="GiaoVien"
                       asp-route-idLop="@chitietLop.MaLop">Đổi giáo viên phụ trách</a>
                </div>
            }
            <div>
                <a asp-action="Index">Quay về</a>
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
<h4 class="mt-3">Danh sách trẻ em</h4>
<div class="container-fluid">
    @if (Model.MaTes.Count > 0)
    {
        <table class="table table-hover table-primary table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã Trẻ</th>
                    <th scope="col">Tên Trẻ</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                }
                @foreach (var item in Model.MaTes)
                {
                    <tr>
                        <th scope="row">@(++i)</th>
                        <td>@item.MaTe</td>
                        <td>
                            <div class="d-flex align-items-center gap-3">
                                <img src="~/AdminDashboard/img/TreEm/@item.AvatarTE" alt="Hinh anh" class="imgTreEm"/>
                                <div>@item.TenTe</div>
                            </div>
                        </td>
                        <td>
                            @{
                                var gtinh = item.GioiTinh ? "Nam" : "Nữ";
                            }
                            @gtinh
                        </td>
                        <td>
                            @{
                                var day = item.NgaySinhTE.Day;
                                var month = item.NgaySinhTE.Month;
                                var year = item.NgaySinhTE.Year;
                            }
                            @day/@month/@year
                        </td>
                        <td>
                            @if (chitietLop.NamHoc >= DateTime.Now.Year)
                            {
                                <a asp-action="ChangeClass" asp-controller="QLLop" asp-area="GiaoVien"
                                   asp-route-oldLop="@chitietLop.MaLop" asp-route-idTreEm="@item.MaTe"
                                   asp-route-HK="@chitietLop.hocKy" asp-route-NH="@chitietLop.NamHoc">Đổi lớp</a>
                            }
                            
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    }
    else
    {
        
        <p class="text-center text-secondary fst-italic">Chưa có trẻ em.<span><button data-bs-toggle="modal" data-bs-target="#XoaLopHoc" class="bg-transparent border-0 text-primary fst-italic">Bạn có muốn xóa lớp này?</button></span>
        </p>
    }

</div>
