@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "ListSubject";
}


<h3 class="text-center" ; margin-top:50px;">DANH SÁCH MÔN HỌC</h3>
<p>
    <a style="font-size:20px;font-weight:700" asp-action="CreateSubject">Tạo môn học mới</a>
</p>

@if(Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr class="text-center table-primary">
                <th class="border border-primary">
                    Mã môn
                </th>
                <th class="border border-primary">
                    Tên môn
                </th>
                <th class="border border-primary">
                    Loại lớp
                </th>
                <th class="border border-primary"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center border border-primary">
                        @item.MonHoc.MaMon
                    </td>
                    <td class="text-center border border-primary">
                        @item.MonHoc.TenMon
                    </td>
                    <td class="text-center border border-primary">
                        @item.LoaiLops
                    </td>
                    <td class="text-center border border-primary">
                        <a style="margin-right:50px" asp-action="EditSubject" asp-route-id="@item.MonHoc.MaMon">Chỉnh sửa môn học</a>
                        <a asp-action="DeleteSubject"  asp-route-id="@item.MonHoc.MaMon">Xóa môn học</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p style=" margin-top: 20px">**Trường mầm non Kider có các loại lớp: Lớp mầm, lớp chồi và lớp lá.</p>
}else
{
    <p class="fst-italic text-center">Chưa có dữ liệu</p>
}

